
body {
    background-color: #333;
    color: white;
    font-size: 19px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 0.75), rgba(200, 200, 200, 0));
}

a {
    color: #aff;
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    margin: 1px;
    padding: 1px;
}

.site-name {
    font-size: 35px;
}
.site-header {
    margin-bottom: 10px;
    border-bottom: 1px solid #555;
}

.site-wrapper {
    max-width: 800px;
    margin: 10px auto;
}
.site-content {
    min-height: 250px;
    padding: 5px;
    background-color: #444;
}

.site-nav {
    text-align: right;
}
.site-nav > *::after {
    content: " | "
}
.site-nav a:last-child::after {
    content: " ";
}

footer {
    text-align: center;
    border-top: 1px solid #555;
}

.post-container {
    color: #dee;
    background-color: #444;
}
.post-title {
    font-size: 30px;
    font-weight: 700;
}

.post-nav {
    display: flex;
    justify-content: space-between;
}
.post-nav > * {
    margin: 1px 10px;
}

.markdown-content {
    padding: 10px;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h1
{
    font-size: 140%;
}

code {
    background-color: #224;
    padding: 2px;
}

